@{
    ViewBag.Title = @StorageCompany.Ressources.StringsDispalyed.title_home;
}

<div class="jumbotron">
    <h1>@StorageCompany.Ressources.StringsDispalyed.title</h1>
    <!--<img alt="Warehouse" src="~/Content/Images/image_entrepot.jpg" style="width:100%" />-->

</div>
