
@{ ViewBag.Title = "Pup Up"; Layout = null; } <br />
<h2>PopUp</h2> <p> <p> Hello, this is a modal jquery popup ! </p> <p> <p><a href="javascript:void(0);" class="close">Hola, Now close it</a></p> <p> - See more at: http://shahvaibhav.com/how-to-show-view-as-a-dialog-box-modal-popup-using-jquery-in-mvc3-razor/#sthash.UOySOUm5.dpuf