
@{
    ViewBag.Title = @StorageCompany.Ressources.StringsDispalyed.title_order;
}

<h2>@ViewBag.Title</h2>
<div>
    <div class=" crumbs flat" style="display: block; align-content: center; margin-left:auto; margin-right:auto; width: 692px;">

        <a href="#" class="active"><i class="glyphicon glyphicon glyphicon-record"></i> Step 1 : Order</a>
        <a href="#"><i class="glyphicon glyphicon glyphicon-record"></i> Step 2 : Item</a>
        <a href="#"><i class="glyphicon glyphicon glyphicon-record"></i> Step 3 : Confirm</a>
    </div>
</div>


