
@{
    ViewBag.Title = "Step3_Confirmation";
}

<div class=" crumbs">
    <a href="#" class="active"><i class="glyphicon glyphicon glyphicon-record"></i> Step 1 : Order</a>
    <a href="#" class="active"><i class="glyphicon glyphicon glyphicon-record"></i> Step 2 : Item</a>
    <a href="#" class="active"><i class="glyphicon glyphicon glyphicon-record"></i> Step 3 : Confirm</a>
</div>

<h2>Confirmation de la commande</h2>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Create" class="btn btn-default" />
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Annule" class="btn btn-default" />
    </div>
</div>