body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.navbar-login{
    padding-top: 15px;
    padding-right: 30px;
}

/* style for treeview */
.tree {
    min-height:20px;
    padding:19px;
    margin-bottom:20px;
    background-color:#fbfbfb;
    border:1px solid #999;
}
.tree li {
    list-style-type:none;
    margin:0;
    padding:10px 5px 0 5px;
    position:relative
}
.tree li::before, .tree li::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto
}
.tree li::before {
    border-left:1px solid #999;
    bottom:50px;
    height:100%;
    top:0;
    width:1px
}
.tree li::after {
    border-top:1px solid #999;
    height:20px;
    top:25px;
    width:25px
}
.tree li span {
    display:inline-block;
    padding:3px 8px;
    text-decoration:none
}
.tree li.parent_li>span {
    cursor:pointer
}
.tree>ul>li::before, .tree>ul>li::after {
    border:0
}
.tree li:last-child::before {
    height:30px
}


/* Steps for the formular */

.crumbs {
    width: 692px;
	display: inline-block;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.35);
	overflow: hidden;
	border-radius: 5px;
	counter-reset: flag;
    display: block; 
    align-content: center; 
    margin-left:auto; 
    margin-right:auto; 
    
}

.crumbs a {
	text-decoration: none;
	outline: none;
	display: block;
	float: left;
	font-size: 12px;
	line-height: 36px;
	padding: 0 70px 0 80px;
	background: white;
	color: black;
	transition: all 0.5s;
	position: relative;
}

.crumbs a:first-child {
	padding-left: 46px;
	border-radius: 5px 0 0 5px;
}
.crumbs a:first-child:before {
	left: 14px;
}
.crumbs a:last-child {
	border-radius: 0 5px 5px 0;
	padding-right: 70px;
}

.crumbs a.active, .crumbs a:hover{
	background: #9EEB62;
}
.crumbs a.active:after, .crumbs a:hover:after {
	background: #9EEB62;
}

.crumbs a:after {
	content: '';
	position: absolute;
	top: 0; 
	right: -18px;
	width: 36px; 
	height: 36px;
	transform: scale(0.707) rotate(45deg);
	z-index: 1;
	background: white;
	color: black;
	transition: all 0.5s;
	box-shadow: 
		2px -2px 0 2px rgba(0, 0, 0, 0.4), 
		3px -3px 0 2px rgba(255, 255, 255, 0.1);
	border-radius: 0 5px 0 50px;
}

.crumbs a:last-child:after {
	content: none;
}

.crumbs a:before {
	counter-increment: flag;
	border-radius: 100%;
	width: 20px;
	height: 20px;
	line-height: 20px;
	margin: 8px 0;
	position: absolute;
	top: 0;
	left: 20px;
	background: white;
	box-shadow: 0 0 0 1px #ccc;
	font-weight: bold;
}

/* Dialog box */
.ui-widget-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #AAA;
    opacity: .8;
    filter: Alpha(Opacity=30);
}